body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#ffd6e8, #cce7ff);
  text-align: center;
}

.screen {
  display: none;
  height: 100vh;
  padding: 20px;
}

.active {
  display: block;
}

button {
  padding: 12px 20px;
  border: none;
  background: #ff4d88;
  color: white;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 20px;
}

#character {
  font-size: 80px;
  margin: 20px;
}

video {
  width: 100%;
  height: 100%;
}